// Navigation Styles here

.main-header {
    border-bottom: 2px dashed @navigation-border;

    .nav-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 20px;
        padding-bottom: 20px;
        
    .nav-logo {
        font-weight: bold;
    }

    .nav {
        width: 40%;
        display: flex;
        justify-content: space-evenly;
        
    }
    
    // .a {
        
    // }

}
}