// Navigation Styles here

.main-header {
    border-bottom: 2px dashed @navigation-border;

    .nav-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 20px;
        padding-bottom: 20px;
        

        @media @phone {
            flex-direction: column;
        }
                
        h1 .nav-logo {
            font-weight: bold;
            @media @phone {

            }            
        }

        .nav {
            width: 40%;
            display: flex;
            justify-content: space-evenly;
            




            // .regular-font-sizing;
            //     .center;
            //     padding-bottom: 0;
            //     font-weight: bold;
            //     text-decoration: none;
            
            @media @phone {
                width: 100%;
                .center;
            }    
        
            
        }
    }
}